.Rproj.user
.Rhistory
.RData
ACA_Zip_Enrollment.Rproj
2010CensusTotPop.csv
Rplot.png
Zip_to_ZCTA_Crosswalk_JSI2014.xlsx
enrollment_summary.csv
without_counties.pdf
qhpzipmap.Rproj
tl_2010_20_zcta510.dbf
tl_2010_20_zcta510.prj
tl_2010_20_zcta510.shp
tl_2010_20_zcta510.shp.xml
tl_2010_20_zcta510.shx
with_counties.pdf
